@import "colores";
@import "variables";
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:Catamaran;
}

main {
    background-color:#f59436
}

body {
    min-width: 630px;
    margin: 0px;
    color: darkorange;

}

nav{
    div{
        a{
        font: size 40px;
        }
    }
}

.navbar-nav a:hover{
    transform: scale(1.1);
}

#h3Manga {
    padding-top: 15px;
    border-bottom: 1px solid black;
}

.header {
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

        .logo{
            cursor: pointer;
            margin-right: auto;
            img {
                height: 70px;
                width: auto;
                transition: all 0.3s;
                    &:hover{
                        transform: scale(1.2);
                    }
            }
    }
}

.img-wsp {
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 50;
    width: 50px;
    border-radius: 50px;
    border: 2px #0df053 solid;
    transition: all 0.3;
        &:hover{
                text-decoration: none;
                transform: scale(1.1);
                transition: 0.3s;
        }
}

button {
    font-size: 16px;
    border-radius: 8px;
    padding: 10x 20px;
    text-align: center;
    }

.boton-h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:rgba(255,195,36,255);
    h1{
        font-size: 32px;
    }
}

    .title{
        background-color: $naranja_oscuro;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
    }

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; 

    .flex-btn-precio {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        text-align: center;
    }

    .merch-container {
        margin: 15px 0;
        padding: 2px 16px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        background-color: rgba(254,196,36,255);
        flex-basis: calc(20% - 40px);

        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

            h1{
                margin-bottom: 10px;
                margin-left: 15px;
            }

            img, button{
                cursor: pointer;
            }
    }

    .img-anime {
        height: 450px;

        img {
            height: 100%;
            width: 100%;
            min-width: 250px;
        }
    }

    .button-add {
        transition-duration: 0.4s;
        background-color:$naranja_oscuro;
        color: black;
        border: 2px solid #f59436;
        padding: 15px ;
        &:hover{
            background-color: #f59436;
            color: white;
            border: none;
        }
      }
}

.main-nos{
    padding-left: 20%;
    padding-top: 20px;
    padding-right: 20%;
    padding-bottom: 40px;
        
        
}

.titl-nos{
    h3{
        text-transform: uppercase;
        border-bottom: 1px solid #0a131d;
        font-size: 32px;
        padding-bottom: 10px;
    
    }
} 


.div-nos{
    background-color: $amarillo_principal;
    padding-left: 10px;
    h4{
        line-height: 80px;
        margin-left: 100px;
        text-transform: uppercase;
        font-size: 24px;
    }
    p{
        padding-right: 45%;
        line-height: 30px;
        margin-left: 100px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 30px;
        
    }
    img{
        width: 90px;
        float: left;
        margin-top: 20px;
        vertical-align: middle;
        border:6px double $naranja_oscuro ;
        border-radius: 20px;
    }
    
}

.main-prev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    h3{
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 48px;
        width: 50%;
        font-weight: bold;
        padding-bottom: 50px;
    }
    p{
        background-color: orange;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding: 20px;
        font-weight: bold;
        font-size: 24px;
        a{
            text-decoration: none;
            color:#1b3039;
            font-size: 24px;
        }
    }
}


.merch-pr {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 90px;
    padding-left: 90px;
    background: $amarillo_principal;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    border: 1px solid #1b3039;
}

.row-merch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    .button-add {
        transition-duration: 0.4s;
        background-color:$naranja_oscuro;
        color: black;
        border: 2px solid #f59436;
        padding: 15px ;
        &:hover{
            background-color: #f59436;
            color: white;
            border: none;
        }
      }
}

.merch-container {
    margin: 15px 0;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: $amarillo_principal;
    flex-basis: calc(20% - 40px);
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h1{
        margin-bottom: 10px;
        margin-left: 15px;
    }
}

.img-anime {
    height: 350px;
    img{
        height: 100%;
        width: 100%;
        min-width: 250px;
        cursor: pointer;
        background-color: $naranja_oscuro;
    }
}

div .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    align-items: center;
    &:hover{
        color: rgba(255,195,36,255)
    }
}

.main-ofertas {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width:990px) {
    #txtBuscar {
     padding-left: 100%;
     margin-top: 15px;
    }
   
   }
   
   @media screen and (max-width:990px) {
       #btnBuscar {
        margin-top: 15px;
       }
      
      }
   
   @media screen and (max-width:990px) {
       #tunelNav {
        width: 150px;
       }
      
      }

@media screen and (max-width:800px) {
    .merch-container .box {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 53px;
    padding: 35px 10px;
    }

    .div-nos{
        p, h4{
            padding-right:30px;
        }
        h4{
            line-height: 50px;
            
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}




